<!doctype html>
<html>
<head>
    <title>Book Club Tracking App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<section id="search" class="">

  <form id="myForm">
    <section class="input-field">
      <input type="search" id="books">
      <label for="search">Search Books</label>
    </section>
    <button class="btn red" type="submit" name="button">Search Books</button>
  </form>

</section>
<section id="result"></section>

<script src="books.js"></script>

</body>
</html>
