body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}

body {
  background-image: url('https://www.wblibrary.org/BookClub.png/@@images/94641f94-2fcd-4004-9d7d-a3f185ca6a09.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

h1 {
  width: 25%;
  text-align: center;
}
