body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}

body {
  background-image: url('https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjb4c2T27LhAhWrhOAKHW8TAycQjRx6BAgBEAU&url=https%3A%2F%2Fwww.midcolumbialibraries.org%2Fbook-club-hub&psig=AOvVaw3O_l25-K66HYDaL2CA59PT&ust=1554338507990114');
  background-repeat: no-repeat;
}
