body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}

body {
  background-image: url('https://www.wblibrary.org/BookClub.png/@@images/94641f94-2fcd-4004-9d7d-a3f185ca6a09.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

h1 {
  width: 25%;
  text-align: center;
}

img {
    height: 300px;
    width: 221px;
    display: block;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.selected{
   box-shadow:0px 12px 22px 1px #333;
   background: content-box radial-gradient(crimson, skyblue);
}

li{
  list-style: none;
}

span{
  font-size: 24px;
  display: block;
  background-color: white;
}
